lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
*.sqlite3

pids
logs
results
tmp
coverage

# API keys
.env

# Dependency directory
node_modules
bower_components

# Serverless Build Info
.serverless/**
lib

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

public/js/bundle.js
.vscode/settings.json
