# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# package directories
jspm_packages

### Repo Specific
.happypack
dist/*
build/*
.vscode
.serverless
.webpack
env.yml