body {
   color:white;
   background: linear-gradient(269.96deg, #00122A 0.03%, #393F63 98.86%);
}

.body-text {
	color:white;
	position: relative;
  	margin-top:20px;
  	font-size:15px;
}

.title {
	color:white;
	margin-top:100px;
	text-align:center;
	font-family:"Krona One", "Lato", "Open Sans", sans-serif;
}

.title-content {
	color:white;
	margin-top:30px;
	margin-bottom:30px;
	text-align:center;
	font-family:"Krona One", "Lato", "Open Sans", sans-serif;
}

.circ-crop {
	border-radius: 50%;
	display:block;
	margin: 0 auto;
}

.content-img {
	display:block;
	margin: 0 auto;
	max-width:90%;
	height:auto;
}

.outro {
	margin-top:50px;
}

.outro-lower {
	margin-bottom:5px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
    content-img {
    display:block;
	margin: 0 auto;
	max-width:90%;
	height:auto;
    }
    img-responsive {
    	
    }
}
