.fa {
    padding: 7px;
    margin-left: 10px;
    font-size: 17px;
    width: 28px;
    height: 28px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%; }
    .fa:hover {
      opacity: 0.7; }
  
  .fa-facebook {
    background: #3B5998;
    color: white; }
  
  .fa-twitter {
    background: #55ACEE;
    color: white; }
  
  .fa-instagram {
    background: #125688;
    color: white; }
  
  .body-ty {
    height: 100%;
    width: auto;
    padding: 20px 20px;
    letter-spacing: 1.5px; }
  
  .text-ty {
    margin: 15px 0; }
  
  .title-thanks {
    color: #fff;
    padding: 0 0;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 60px; }
  
  hr {
    padding-top: 5px;
    border-bottom: 1px solid white;
    width: 250px; }
  
  .alien-ty {
    margin: 30px 0;
    max-height: 150px;
    width: auto; }
  
  .center-button {
    text-align: center; }
  
  .share-btn {
    display: inline-block;
    color: #ffffff;
    border: none;
    padding: 0.5em;
    width: 4em;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
    outline: none;
    text-align: center;
  }
  
  .share-btn:hover {
    color: #eeeeee;
  }
  
  .share-btn:active {
    position: relative;
    top: 2px;
    box-shadow: none;
    color: #e2e2e2;
    outline: none;
  }
  .share-btn.twitter     { background: #55acee; }
  .share-btn.facebook    { background: #3B5998; }
  .share-btn.email       { background: #666; }