.btn-default {
  color: #222222;
  border-color: white;
  background-color: white;
  &.focus, &:focus {
    color: #222222;
    border-color: #bfbfbf;
    background-color: #e6e6e6;
  }
  &:hover, &.active, &:active {
    color: #222222;
    border-color: #e0e0e0;
    background-color: #e6e6e6;
  }
}

.open > .btn-default.dropdown-toggle {
  color: #222222;
  border-color: #e0e0e0;
  background-color: #e6e6e6;
}

.btn-default {
  &.active {
    &.focus, &:focus, &:hover {
      color: #222222;
      border-color: #bfbfbf;
      background-color: #d4d4d4;
    }
  }
  &:active {
    &.focus, &:focus, &:hover {
      color: #222222;
      border-color: #bfbfbf;
      background-color: #d4d4d4;
    }
  }
}

.open > .btn-default.dropdown-toggle {
  &.focus, &:focus, &:hover {
    color: #222222;
    border-color: #bfbfbf;
    background-color: #d4d4d4;
  }
}

.btn-default {
  &.active, &:active {
    background-image: none;
  }
}

.open > .btn-default.dropdown-toggle {
  background-image: none;
}

.btn-default {
  &.disabled {
    &.focus, &:focus, &:hover {
      border-color: white;
      background-color: white;
    }
  }
  &[disabled] {
    &.focus, &:focus, &:hover {
      border-color: white;
      background-color: white;
    }
  }
}

fieldset[disabled] .btn-default {
  &.focus, &:focus, &:hover {
    border-color: white;
    background-color: white;
  }
}

.btn-default .badge {
  color: white;
  background-color: #222222;
}

.btn-primary {
  color: white;
  border-color: #F05F40;
  background-color: #F05F40;
  &.focus, &:focus {
    color: white;
    border-color: #a4270d;
    background-color: #eb3812;
  }
  &:hover, &.active, &:active {
    color: white;
    border-color: #e13612;
    background-color: #eb3812;
  }
}

.open > .btn-primary.dropdown-toggle {
  color: white;
  border-color: #e13612;
  background-color: #eb3812;
}

.btn-primary {
  &.active {
    &.focus, &:focus, &:hover {
      color: white;
      border-color: #a4270d;
      background-color: #c93110;
    }
  }
  &:active {
    &.focus, &:focus, &:hover {
      color: white;
      border-color: #a4270d;
      background-color: #c93110;
    }
  }
}

.open > .btn-primary.dropdown-toggle {
  &.focus, &:focus, &:hover {
    color: white;
    border-color: #a4270d;
    background-color: #c93110;
  }
}

.btn-primary {
  &.active, &:active {
    background-image: none;
  }
}

.open > .btn-primary.dropdown-toggle {
  background-image: none;
}

.btn-primary {
  &.disabled {
    &.focus, &:focus, &:hover {
      border-color: #F05F40;
      background-color: #F05F40;
    }
  }
  &[disabled] {
    &.focus, &:focus, &:hover {
      border-color: #F05F40;
      background-color: #F05F40;
    }
  }
}

fieldset[disabled] .btn-primary {
  &.focus, &:focus, &:hover {
    border-color: #F05F40;
    background-color: #F05F40;
  }
}

.btn-primary .badge {
  color: #F05F40;
  background-color: white;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  padding: 15px 30px;
}

.btn-xl {
  padding: 15px 30px;
}

.button-lower {
  margin-top: 50px;
}