header.masthead {
  position: relative;
  width: 100%;
  text-align: center;
  color: white;
  margin-top: 40%;
  .header-content {
    position: relative;
    width: 100%;
    text-align: center;
    .header-content-inner {
      h1 {
        font-family: 'Krona One';
        color: #F05F40;
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 20px;
        text-align: center;
      }
      h3 {
        font-size: 25px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 10px;
        text-align: center;
      }
      h4 {
        font-size: 16px;
        font-weight: 700;
        margin-top: 10;
        margin-bottom: 50px;
        text-align: center;
      }
      h5 {
        font-size: 20px;
        font-weight: 400;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
      }
      hr {
        margin: 30px center;
      }
      p {
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 50px;
        color: white;
        text-align: center;
      }
    }
  }
}

@media (min-width: 768px) {
  header.masthead {
    background-image: url("../img/pluto.png");
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-position: center;
    height: 100%;
    margin-top: 0;
    min-height: 600px;
    text-align: right;
    float: right;
    .header-content {
      position: absolute;
      top: 50%;
      padding: 0 0px;
      text-align: right;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      .header-content-inner {
        max-width: 1000px;
        margin-right: auto;
        margin-left: auto;
        h1 {
          font-family: 'Krona One';
          color: #F05F40;
          font-size: 40px;
          font-weight: 700;
          margin-bottom: 20px;
          text-align: right;
        }
        h3 {
          font-size: 25px;
          font-weight: 700;
          margin-top: 0;
          margin-bottom: 10px;
          text-align: right;
        }
        h4 {
          font-size: 16px;
          font-weight: 700;
          margin-top: 10;
          margin-bottom: 50px;
          text-align: right;
        }
        h5 {
          font-size: 20px;
          font-weight: 400;
          margin-top: 10px;
          margin-bottom: 10px;
          text-align: right;
        }
        p {
          font-size: 18px;
          font-weight: 700;
          margin-bottom: 50px;
          color: white;
          text-align: right;
        }
      }
    }
  }
}

.header-form {
  border: 1px solid #777294;
  background: #f8f8f8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #666;
  -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(0, 0, 0, 0.7) 0 0px 0px;
  -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(0, 0, 0, 0.7) 0 0px 0px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(0, 0, 0, 0.7) 0 0px 0px;
  padding: 8px;
  margin-bottom: 20px;
  width: 280px;
}