// Styling for the services section
.service-box {
  margin: 50px auto;
  @media (min-width: 992px) {
    margin: 20px auto;
  }
  p {
    margin-bottom: 0;
    font-size: 1.25em;
  }

  h3{
    font-size: 2.175rem;
  }
}
