<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <p>
            Welcome <strong><%= user.email %></strong>
            <a href="/logout" title="sign out">sign out</a>
        </p>
    </body>
</html>